<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:name=".App"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Carousal"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Carousal">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep-link: carousal://payscreen, carousal://homescreen, carousal://testscreen -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="carousal" />
                <data android:host="payscreen" />
                <data android:host="homescreen" />
                <data android:host="testscreen" />
            </intent-filter>
        </activity>

        <activity
                android:name=".TestActivity"
                android:exported="true"
                android:launchMode="singleTop"
                android:theme="@style/Theme.Carousal">

            <!-- Deep-link: carousal://xmlhome -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="carousal" />
                <data android:host="xmlhome" />
            </intent-filter>
        </activity>

        <activity
                android:name=".MoreActivity"
                android:exported="true"
                android:launchMode="singleTop"
                android:theme="@style/Theme.Carousal">

            <!-- Deep-link: carousal://cashbook, carousal://moreactivity -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="carousal" />
                <data android:host="cashbook" />
                <data android:host="moreactivity" />
            </intent-filter>
        </activity>
    </application>

</manifest>